<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    {% seo %}

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700|Roboto+Mono:400,500" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154888688-1"></script>
    <script>
         window.dataLayer = window.dataLayer || [];
         function gtag() { dataLayer.push(arguments); }
         gtag('js', new Date());
         gtag('config', 'UA-154888688-1');
     </script>
    <link rel="icon" href="{{ site.baseurl }}/assets/images/logo.png">
    <link href="/manifest.webmanifest" rel="manifest">
    <link href="//fonts.googleapis.com" rel="dns-prefetch"/>
    <link href="//s.w.org" rel="dns-prefetch"/>
    <link href="//www.luizeof.com.br" rel="dns-prefetch"/>
    <link href="//stackpath.bootstrapcdn.com" rel="dns-prefetch"/>
    <link href="//bootswatch.com" rel="dns-prefetch"/>
    <script async crossorigin="anonymous" defer defer src="https://kit.fontawesome.com/74938d49e0.js"></script>
    {% if page.path contains '_posts' %}
        <link rel="amphtml" href="{{ page.id | prepend: '/amp' | prepend: site.baseurl | prepend: site.url | append: '.html' }}">
    {% endif %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
