<div class="share sticky-top sticky-top-offset">

    <!-- Author Box -->
    <div class="row">
        <div class="col-xs-12 mx-auto align-center">

            <img class="img-fluid rounded-circle mb-5" width="96"
                src="https://pt.gravatar.com/userimage/5086796/105090f00e4e22a9375db598c1ede0a4?size=200"
                alt="{{ author.display_name }}">


            <div class="mb-5 col-xs-12 col-md-9 col-lg-10 text-center mx-auto">
                <a target="_blank" class="link-dark" href="https://www.luizeof.com.br">Luiz Eduardo</a><a
                    target="_blank" href="https://twitter.com/luizeof"
                    class="btn btn-success text-white btn-block follow">
                    <i class="fab fa-twitter"></i> @luizeof</a>
                <span class="author-description">{{ author.description }}</span>
            </div>

        </div>
    </div>

    <p>
        Share
    </p>
    <ul>
        <li class="ml-1 mr-1">
            <a target="_blank"
                href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <i class="fab fa-twitter"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://facebook.com/sharer.php?u={{ page.url | absolute_url }}"
                onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}"
                onclick="window.open(this.href, 'width=550,height=435');return false;">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>

    </ul>
    {% if page.comments != false %}
    <div class="sep">
    </div>
    <ul>
        <li>
            <a class="small smoothscroll" href="#disqus_thread"></a>
        </li>
    </ul>
    {% endif %}
</div>